.container {
    text-align: center;
}

#deck {
    border: solid 2px black;
    border-radius: 10px;
    width: 25vh;
    height: 35vh;
    margin: 2vh;
}

#deckimg {
    width: 25vh;
    height: 35vh;
    text-align: center;
}

#graveyard {
    border: solid 2px black;
    border-radius: 10px;
    width: 25vh;
    height: 35vh;
    margin: 2vh;
}

.cards {
    width: 25vh;
}

#battlefield {
    border: solid 2px black;
    border-radius: 10px;
    width: 250vh;
    /* height: 45vh; */
    margin: 2vh;
}

.dekcs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button .removeBtn {
    width: 10vh;
}

/* button {
    width: 25vh;
    margin: 2vh;
} */

h3 {
    /* text-align: center; */
}

p {
    /* text-align: center; */
}

.library {
    text-align: center;
}